/*index page*/
.static-img{
  display: flex;
}
.riot-img,
.static-map{
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.riot-img{
  position: relative;
}
.riot-description{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  text-align: center;
  background-color: #504f4f;
  opacity: 0.7;
  color: #fff;
  padding-top: 200px;
  font-size: 30px;
}

/*Profile page*/
.profile-details{
  border-radius: 20px;
  box-shadow: 10px 10px 5px #888888;
}
/*google maps*/
.setloc-map {
  max-width: 100%;
  height: 400px;
  margin-top: 1em;
  border: 1px solid #eee;
}